.owl-prev > span {
  position: absolute;
  top: 10%;
  left: -30px;
  font-size: 80px;
}
.owl-next > span {
  position: absolute;
  top: 10%;
  right: -30px;
  font-size: 80px;
}
.typical-teacher {
  text-align: center;
}
